.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/app/.cxx/abi_configuration_6l3v4639.json
/app/.cxx/abi_configuration_6l3v4639.log
/app/.cxx/abi_configuration_6l3v4639_key.json
/.idea/modules/app/app.iml
/.idea/caches/build_file_checksums.ser
/.idea/jarRepositories.xml
/app/.cxx/ndk_locator_record_1v2u71q3.json
/app/.cxx/ndk_locator_record_1v2u71q3.log
/app/.cxx/ndk_locator_record_1v2u71q3_key.json
/app/.cxx/ndk_locator_record_3b13m254.json
/app/.cxx/ndk_locator_record_3b13m254.log
/app/.cxx/ndk_locator_record_3b13m254_key.json
/app/.cxx/cmake/debug/arm64-v8a/prefab_config.json
/app/.cxx/cmake/debug/armeabi-v7a/prefab_config.json
/app/.cxx/cmake/debug/x86/prefab_config.json
/app/.cxx/cmake/debug/x86_64/prefab_config.json
/app/.cxx/cmake/release/arm64-v8a/prefab_config.json
/app/.cxx/cmake/release/armeabi-v7a/prefab_config.json
/app/.cxx/cmake/release/x86/prefab_config.json
/app/.cxx/cmake/release/x86_64/prefab_config.json
